<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="MaestroURI" value="http://localhost/Profisee8/service.svc" />
    <!-- <add key="MaestroURI" value="http://localhost/MaestroV512/service.svc" /> -->
    <add key="ModelName" value="B2B_Customer" />
    <add key="EntityName" value="Customer" />
    <add key="VersionName" value="Current Data" />
    <add key="MaestroAttribute.Name" value="Name" />
    <add key="MaestroAttribute.BillingAddress" value="Std Address" />
    <add key="MaestroAttribute.BillingCity" value="Std City" />
    <add key="MaestroAttribute.BillingState" value="Std State" />
    <add key="MaestroAttribute.BillingPostalCode" value="Std Zip" />
    <add key="MaestroAttribute.BillingCountry" value="Std Country" />
    <add key="MaestroAttribute.Email" value="EmailAddress" />
    <add key="MaestroAttribute.Phone" value="Phone Number" />
    <!--<add key="MaestroAttribute.Fax" value="Fax" />-->
    <!--<add key="MaestroAttribute.Website" value="Website" />-->
    <add key="MaestroAttribute.SalesforceID" value="Account ID" />
    <add key="MaestroAttribute.MatchScore" value="Match Score" />
    <add key="Maestro.MatchingStrategy" value="CustomerB2B_LUB4C" />
    <add key="Salesforce.BaseUrl" value="https://c.cs27.visual.force.com" />
  </appSettings>
  <!--<httpRuntime requestValidationMode="2.0" />-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" executionTimeout="36000" maxRequestLength="10240" />
    <identity impersonate="false" />
    <sessionState timeout="360" />
    <!--<urlMappings>
      <add url="~/Product" mappedUrl="Product.svc" />
    </urlMappings>-->
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="webHttp" name="Mdm.Profisee_Customer360Service.ServiceREST.Customer">
        <endpoint binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="Mdm.Profisee_Customer360Service.ServiceREST.ICustomer" behaviorConfiguration="webHttp" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="webHttp">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingConfiguration" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>