<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		
		<add key="MaestroURI" value="http://corpmdm02.corp.profisee.com/Maestro/service.svc" />
		<!-- <add key="MaestroURI" value="http://localhost/MaestroV512/service.svc" /> -->
		<add key="ModelName" value="Profisee_Customer360" />
		<add key="EntityName" value="Account"/>
		<add key="VersionName" value="VERSION_1" />

		<add key="MaestroAttribute.Name" value="Name" />
		<add key="MaestroAttribute.BillingAddress" value="BillingStreet" />
		<add key="MaestroAttribute.BillingCity" value="BillingCity" />
		<add key="MaestroAttribute.BillingState" value="BillingStateProvince" />
		<add key="MaestroAttribute.BillingPostalCode" value="BillingZipPostalCode" />
		<add key="MaestroAttribute.BillingCountry" value="BillingCountry" />
		<add key="MaestroAttribute.Phone" value="Phone" />
		<add key="MaestroAttribute.Fax" value="Fax" />
		<add key="MaestroAttribute.Website" value="Website" />
		<add key="MaestroAttribute.SalesforceID" value="Account ID"/>
		<add key="MaestroAttribute.MatchScore" value="Match Score" />

		<add key="Maestro.MatchingStrategy" value="P360 - Account" />

		<add key="Salesforce.BaseUrl" value="https://c.na34.visual.force.com"/>
	</appSettings>

  <!--<httpRuntime requestValidationMode="2.0" />-->
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"
                 requestPathInvalidCharacters=""
                 executionTimeout="36000" maxRequestLength="10240" />
    <identity impersonate="false" />
    <sessionState timeout="360" />

    <!--<urlMappings>
      <add url="~/Product" mappedUrl="Product.svc" />
    </urlMappings>-->

  </system.web>
  <system.serviceModel>
    <services>
            
      <service behaviorConfiguration="webHttp" name="Mdm.Profisee_Customer360Service.ServiceREST.Account">
        <endpoint binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="Mdm.Profisee_Customer360Service.ServiceREST.IAccount" behaviorConfiguration="webHttp" />
      </service>
      
             
    </services>

    <behaviors>

      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="webHttp">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <bindings>

      <webHttpBinding>
        <binding name="webHttpBindingConfiguration" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>

    </bindings>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>

</configuration>
