<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="MaestroURI" value="http://localhost/Profisee8/service.svc" />
    <!-- <add key="MaestroURI" value="http://localhost/MaestroV512/service.svc" /> -->
    <add key="ModelName" value="B2B_Customer" />
    <add key="EntityName" value="Customer" />
    <add key="VersionName" value="Current Data" />
    <add key="MaestroAttribute.Name" value="Name" />
    <add key="MaestroAttribute.BillingAddress" value="Std Address" />
    <add key="MaestroAttribute.BillingCity" value="Std City" />
    <add key="MaestroAttribute.BillingState" value="Std State" />
    <add key="MaestroAttribute.BillingPostalCode" value="Std Zip" />
    <add key="MaestroAttribute.BillingCountry" value="Std Country" />
    <add key="MaestroAttribute.Email" value="EmailAddress" />
    <add key="MaestroAttribute.Phone" value="Phone Number" />
    <!--<add key="MaestroAttribute.Fax" value="Fax" />-->
    <!--<add key="MaestroAttribute.Website" value="Website" />-->
    <add key="MaestroAttribute.SalesforceID" value="Account ID" />
    <add key="MaestroAttribute.MatchScore" value="Match Score" />
    <add key="Maestro.MatchingStrategy" value="CustomerB2B_LUB4C" />
    <add key="Salesforce.BaseUrl" value="https://c.cs27.visual.force.com" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
