<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceUri" value="http://localhost/Service/Account.svc" />
    <add key="RESTfulUri" value="http://localhost/SalesforceLUB4C/" />
    <add key="VersionName" value="VERSION_1" />
    <add key="DefaultCode" value="0017000001R5BbZAAV"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

	<system.web>
		<authentication mode="Windows"></authentication>
		<identity impersonate="true"/>
	</system.web>
</configuration>

