<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
		<!-- <add key="MaestroUri" value="http://localhost/MaestroV512/service.svc"/> -->
		<add key="MaestroUri" value="http://corpmdm02/Maestro/service.svc"/>
	</appSettings>

	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
	-->
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttp">
					<webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
				</behavior>
			</endpointBehaviors>
			
			<serviceBehaviors>
				<behavior name="webHttp">
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
			
		</serviceHostingEnvironment>

		<bindings>
			<webHttpBinding>
				<binding name="webHttpBindingConfiguration" maxReceivedMessageSize="2147483647">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>

		<services>
			<service behaviorConfiguration="webHttp" name="Profisee.LUB4CService.LookupBeforeCreate">
				<endpoint binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="Profisee.LUB4CService.ILookupBeforeCreate" behaviorConfiguration="webHttp" />
			</service>
		</services>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
			To browse web app root directory during debugging, set the value below to true.
			Set to false before deployment to avoid disclosing web app folder information.
		  -->
		<directoryBrowse enabled="true"/>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
	</system.webServer>
</configuration>