<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
  </configSections>
  <swaggerwcf>
    <tags>
      <tag name="LowPerformance" visible="false" />
    </tags>
    <settings>
      <setting name="InfoDescription" value="Web Service" />
      <setting name="InfoVersion" value="0.0.1" />
      <setting name="InfoTermsOfService" value="Terms of Service" />
      <setting name="InfoTitle" value="Web Service" />
      <setting name="InfoContactName" value="" />
      <setting name="InfoContactUrl" value="https://support.profisee.com" />
      <setting name="InfoContactEmail" value="" />
      <setting name="InfoLicenseUrl" value="https://support.profisee.com" />
      <setting name="InfoLicenseName" value="" />
    </settings>
  </swaggerwcf>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ProfiseeURI" value="https://masterdatahubdev.svccorp.com/Profisee/api/service.svc" />
    <add key="ServiceAccountClientId" value="7c1e40d24cd145c9babd6cfd72000a84" />
    <add key="Lookup.Entity" value="AccountLead"/>
    <!--To return a Matching Result atribute other than MatchScore, the service code under the comment Matching Result Attributes must be changed-->
    <add key="Lookup.Return.Attributes" value="MatchScore,Name,StdAddressLine1,StdCity,StdStateProvince,StdPostalCode,MatchPhone,MatchEmail,SourceCode"/>
    <!--EventLogging Level.  Off, Information, Verbose-->
    <add key="EventLogging" value="Off"/>
  </appSettings>

  <!--<httpRuntime requestValidationMode="2.0" />-->
  <system.web>
    <compilation debug="false" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"
                 requestPathInvalidCharacters=""
                 executionTimeout="36000" maxRequestLength="10240" />
    <identity impersonate="false" />
    <sessionState timeout="360" />

    <!--<urlMappings>
      <add url="~/Product" mappedUrl="Product.svc" />
    </urlMappings>-->

  </system.web>
  <system.serviceModel>
    <services>
            
      <service behaviorConfiguration="webHttp" name="Mdm.AccountService.ServiceREST.Account">
        <endpoint binding="webHttpBinding" bindingConfiguration="webHttpsBindingConfiguration" contract="Mdm.AccountService.ServiceREST.IAccount" behaviorConfiguration="webHttp" />
      </service>
      
             
    </services>

    <behaviors>

      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="webHttp">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <bindings>

      <webHttpBinding>
        <binding name="webHttpBindingConfiguration" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          <!--<security mode="TransportCredentialOnly">
             <transport clientCredentialType="Windows" />-->
          </security>
        </binding>
	<binding name="webHttpsBindingConfiguration" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>

    </bindings>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>

</configuration>
