<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceUri" value="http://localhost/Service/Account.svc" />
    <add key="RESTfulUri" value="http://localhost/SalesforceLUB4C/" />
    <add key="VersionName" value="VERSION_1" />
    <add key="DefaultCode" value="0017000001R5BbZAAV" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

	<system.web>
		<authentication mode="Windows"></authentication>
		<identity impersonate="true" />
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
