<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceUri" value="http://localhost/Service/Account.svc" />
    <add key="RESTfulUri" value="http://localhost/RESTful/" />
    <add key="DefaultCode" value="AR-5381"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>

